/*
Table of Contents
   1. Reset CSS
   2. Background
   3. Header
   4. Body
   5. Footer
   6. Miscellaneous
*/

/* 2. Background */
#page-content {
  position: absolute;

  display: block;

  width: 100%;

  background: #fff;
}

/* 3. Header */
header {
   padding: 20px 0;
}

/* Home Button: Top Left Corner */
div#home-button a {
   transition: color 0.5s;
   text-decoration: none;

   color: #8E8E8E;

   font-family: 'Leckerli One',cursive;
   font-size: 26px;
}

div#home-button a:hover {
  color: #4A4A4A;
}

#home-button {
   text-align: center;
}

/* Contact List Top Menu */
#contact-list {
   flex-grow: 1;
}

#contact-list ul {
   margin: 0;
   padding: 0px 20px;

   text-align: center;
}

#contact-list ul li {
   display: inline-block;
}

.contact-menu li a {
   display: block;

   padding: 18px 20px;

   transition: all 400ms ease-in-out;
   transform: scale(1);
   text-decoration: none;

   color: #8E8E8E;

   font-family: 'Raleway',sans-serif;
   font-size: 14px;
   font-weight: bold;
}

.contact-menu li a:hover {
   transform: scale(1.15);

   color: #4A4A4A;
}

/* 4. Body */
.container {
  display: block;

  max-width: 36em;

  margin: 0 auto;
}

body {
   position: relative;

   display: block;

   margin: 0;
}

h1,h2,h3 {
   font-family: 'Raleway',sans-serif;
}

p,h2,h3 {
   color: #3b3b3b;
}

h2 {
  margin: 1.25em 0;
  padding: 0.25em 0;

  font-size: 2em;

  color: #7a7a7a;

  border-bottom: #EBEBEB solid 1.5px;
}

h3 {
  font-size: 2em;
  color: #3D3D3D;
  margin: 1.5em 0;
  text-align: center;

  border-bottom: #EBEBEB solid 1px;
}

p {
   font-family:'raleway',sans-serif;
   font-size: 17px;
   font-weight: 100;
   line-height: 150%;
}

p a {
   position: relative;

   text-decoration: none;

   color: #2c9696;
}

p a:hover {
   color: #2c9696;
}

p a:before {
   position: absolute;
   bottom: 0;
   left: 0;

   visibility: hidden;

   width: 100%;
   height: 2px;
   white-space:nowrap;

   content: "";
   -webkit-transition: all 0.3s ease-in-out 0s;
   transition: all 0.3s ease-in-out 0s;
   -webkit-transform: scaleX(0);
   transform: scaleX(0);

   background-color: #2c9696;
}

p a:hover:before {
   visibility: visible;

   -webkit-transform: scaleX(1);
   transform: scaleX(1);
}
section p {
   max-width: 650px;
}

section p, ol {
   width:85%;
   margin-left: 40px;
}

li {
   color: #4A4A4A;

   font-family: "Raleway",sans-serif;
   font-size: 19px;
}

blockquote {
   margin-bottom: 10px;
   padding-left: 15px;

   color: #4A4A4A;
   border-left: 3px solid #4A4A4A;

   font-family: monospace;
   font-size: 20px;
}

cite {
   margin-left: 100px;

   color: #4A4A4A;

   font-family: monospace;
   font-size: 16px;
}

/* Introduction */

section {
  padding: 25px 50px;
  text-align: center;
}

/* .left-floating-container {
   width: 75%;
   margin-bottom: 460px;
   margin-left:5%;
}

.left-floating-container-top {
   width: 75%;
   margin-top: 100px;
   margin-bottom: 460px;
   margin-left:5%;
}

.left-floating-container-bottom {
   width: 75%;
   margin-bottom: 0px;
   margin-left:5%;
   padding-bottom: 100px;
}

.right-floating-container {
   width: 75%;
   margin-bottom: 460px;
   margin-left: 25%;
}

.right-floating-container-bottom {
   width: 75%;
   margin-bottom: 0px;
   margin-left: 25%;
   padding-bottom: 100px;
} */

.photo-container div ul {
  display: flex;
  flex-wrap: wrap;
}

.photo-container div ul li {
  height: 40vh;
  flex-grow: 1;
}

.photo-container div ~ li: last child {
  flex-grow: 10;
}

.photo-container div ~ img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;

  padding: 0.5em;
}

#coffee-img {
   position: relative;
   z-index: -1;

   width:80%;
   height:80%;
   margin-top: -130px;
   margin-left: 75px;

   opacity: 0.4;
}

#photo-container {
   width:100%;

   text-align: center;
}

/*Footer*/
#contact-list-bottom {
  position: absolute;
   flex-grow: 1;
}

#contact-list-bottom ul {
   margin-top: -75px;
   padding: 30px;

   text-align: center;
}

#contact-list-bottom ul li {
   display: inline-block;
}

/*
h1 h2 {
   Target h2 inside h1
   <h1>
      <h2><Target here/h2>
   </h1>
}

h1 + h2 {
   Target h2 that is preceded immediately by h1
   <h1></h1>
   <h2>Target here</h2>
}

h1 ~ h2 {
   Target h2 that is preceded by h1
   <h1></h1>
   <p></p>
   <h2>Target</h2>
}*/

/* Portrait */
@media (max-aspect-ratio: 1/1) {
  .photo-container div ~ li {
    height: 30vh;
  }
}

/* Short screens */
@media (max-height: 480px) {
  .photo-container div ~ li {
    height: 80vh;
  }
}

/* Smaller screens in portrait */
@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  .photo-container div ul {
    flex-direction: row;
  }

  .photo-container div ~ li {
    height: auto;
    width: 100%;
  }
  .photo-container div ~ img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}
